/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@font-face {
  font-family: "Nunito_Sans";
  src: url("../Assets/Nunito_Sans/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf");
}

#root {
  font-family: "Nunito Sans", sans-serif;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-weight: 400;
}